@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

:root {
    --main-color: #500094;
    --link-color: #2be534;
    --title-color: #ff6700;
    --slider-bg: #314443;
    --body-bg: #efefef;
    --text: #5a544b;
    --white: #fff;
    --black: #000;
    --footer-bg: #d3d3d3e8;
    --breadcrumb-bg: #a1c0c787;
    --box-shadow: 0px 0px 20px #ccc;
}

body {
    min-height: 100vh;
    background-color: var(--body-bg);
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* button css */
.btn {
    background-color: var(--link-color);
    color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--link-color);
    padding: 7px 30px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 1s;
}
.btn:hover {
    background-color: var(--title-color);
    border: 2px solid var(--title-color);
    color: var(--white);
}

.section {
    background-color: rgb(255, 255, 255);
    /* min-height: 100vh; */
    padding: 40px 20px;
}

@media only screen and (max-width: 1496px) {
    .section {
        min-height: 100vh;
    }
}

.section .section-title {
    /* background-color: red; */
    text-align: center;
    margin-bottom: 40px;
}
.section .section-title h6 {
    color: var(--title-color);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 10px;
}
.section .section-title h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.section .section-title h2 span {
    color: var(--title-color);
}
/* button css */

@media only screen and (max-width: 800px) {
    .sm-hide {
        display: none;
    }
}

/* breadcrumb */

.breadcrumbs {
    padding: 20px 0;
    min-height: 150px;
    background-color: var(--breadcrumb-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 68px;
    }
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
}

.breadcrumbs li {
    font-weight: bold;
}

.breadcrumbs li a {
    text-decoration: none;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
    color: var(--title-color);
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--main-color);
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: inline-flex;
        justify-content: center;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/* breadcrumb */

/* top-header section css starts here */
#top-header {
    background-color: var(--main-color);
    height: 45px;
    color: var(--white);
    /* display: flex;
    align-items: center; */
    line-height: 45px;
}

#top-header .top-header-contact {
    font-weight: 600;
}

#top-header .top-header-contact .icon {
    padding-right: 5px;
}

#top-header .top-header-social-icon a {
    border: 2px solid var(--link-color);
    color: var(--link-color);
    margin: 0 10px;
    padding: 5px;
    line-height: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}

#top-header .top-header-social-icon a:hover {
    background-color: var(--link-color);
    color: var(--white);
}

@media only screen and (max-width: 767px) {
    .header-text-sm-hide {
        display: none;
    }

    #top-header .top-header-contact {
        text-align: center;
    }
}

/* top-header section css ends here */

/* navbar section css starts here */

#top-header-navbar .navbar {
    padding: 0;
}

#top-header-navbar .navbar .navbar-brand {
    padding: 0;
}

#top-header-navbar .navbar .navbar-brand img {
    /* height: 100%; */
    width: 120px;
}

#top-header-navbar .navbar .navbar-nav .dropdown .dropdown-menu {
    /* background-color: red; */
    padding: 0;
    background-color: var(--white);
    border: none;
    border-radius: 0;
}

#top-header-navbar .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    /* background-color: red; */
    border-bottom: 2px solid var(--title-color);
    padding: 10px;
    text-align: center;
    color: var(--title-color);
    font-weight: bold;
    margin: 0;
}

#top-header-navbar
    .navbar
    .navbar-nav
    .dropdown
    .dropdown-menu
    .dropdown-item:hover {
    background-color: var(--title-color);
    color: white;
}

#top-header-navbar .navbar .navbar-nav .nav-item .nav-link {
    color: var(--main-color);
    font-weight: bold;
    padding: 30px;
    transition: 1s;
}
#top-header-navbar .navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--main-color);
    color: var(--white);
    border-bottom: 5px solid var(--title-color);
}
#top-header-navbar .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: var(--main-color);
    color: var(--white);
    border-bottom: 5px solid var(--title-color);
}

/* navbar section css ends here */

/* slider section css starts here */
#slider {
    background-color: var(--slider-bg);
}
#slider .carousel .carousel-inner .carousel-item .slider-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 40px;
}
#slider .carousel .carousel-inner .carousel-item .slider-content h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 900;
}

#slider .carousel .carousel-inner .carousel-item .slider-content h1 span {
    color: var(--title-color);
}

#slider .carousel .carousel-inner .carousel-item .slider-content p {
    color: var(--white);
    opacity: 0.9;
    font-size: 16px;
    margin: 30px 0;
}

#slider
    .carousel
    .carousel-inner
    .carousel-item
    .slider-content
    .slider-image
    img {
    height: 453px;
}
.carousel-control-prev {
    right: 40px !important;
    top: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--main-color);
    padding: 20px;
}

/* slider section css ends here */

/* about section css starts here */

#about {
    background-color: var(--body-bg);
}

#about .about-image img {
    height: 70vh;
    border-radius: 5px;
}

#about .about-content {
    color: var(--text);
    font-weight: 400;
}

#about .about-video iframe {
    /* height: 350px; */
    border-radius: 5px;
}

@media only screen and (max-width: 1496px) {
    #about .about-content {
        height: 40vh;
    }

    #about .about-video iframe {
        height: 30vh;
    }
}
@media only screen and (min-width: 1496px) {
    #about .about-content {
        height: 25vh;
    }

    #about .about-video iframe {
        height: 45vh;
    }
}

/* about section css ends here */

/* product section css starts here */

#product .product-box {
    background-color: var(--body-bg);
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(13, 29, 13, 0.1);
    margin-bottom: 20px;
}

#product .product-box .product-image {
    position: relative;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--white);
}
#product .product-box .product-image img {
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#product .product-box .product-icon {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3;
}

#product .product-box .product-icon .icon {
    font-size: 16px;
    color: var(--main-color);
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--main-color);
    opacity: 1;
}

#product .product-box .product-icon .icon:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--white);
}

#product .product-box .product-image:hover img {
    opacity: 0.5;
}
#product .product-box .product-image:hover .product-icon {
    opacity: 1;
}

#product .product-box .product-title {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 20px;
}
#product .product-box .product-title a {
    color: var(--black);
    font-weight: bold;
}
#product .product-box .product-title span {
    font-weight: bold;
    font-size: 14px;
}
#product .product-box .product-title span .star {
    color: var(--text);
}

#product .product-box .product-category {
    font-weight: bold;
    padding: 0 10px;
}
#product .product-box .product-category h5 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
}
#product .product-box .product-price p {
    font-size: 24px;
    line-height: 15px;
    font-weight: bold;
    padding: 0 10px;
    color: var(--text);
}
#product .product-box .product-price del {
    font-size: 16px;
    color: red;
}

#product .product-box .button {
    text-align: center;
    padding-bottom: 20px;
}
/* product section css ends here */

/* service section css starts here */
#service {
    background-color: var(--body-bg);
    padding: 40px 20px;
}

#service .service-box {
    background-color: var(--white);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
#service .service-box .icon {
    padding: 20px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    transition: 1s ease;
}
#service .service-box:hover .icon {
    border: 2px solid var(--main-color);
    color: var(--white);
    background-color: var(--main-color);
}

#service .service-box h2 {
    color: var(--title-color);
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
#service .service-box p {
    color: var(--text);
}
/* service section css ends here */

/* our category section css starts here */

#category .category-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
#category .category-box .image {
    background-color: var(--body-bg);
    border-radius: 120px;
    padding: 20px;
    height: 160px;
    margin-bottom: 10px;
}

#category .category-box .image img {
    width: 130px;
}

#category .category-box .name h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}

/* our category section css ends here */
/* footer css starts here */

#footer {
    background-color: var(--footer-bg);
    padding: 60px 0 40px 0;
    color: var(--text);
    line-height: 33px;
}

#footer h2 {
    color: var(--title-color);
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

#footer p {
    font-size: 16px;
    letter-spacing: 1px;
    /* line-height: 33px; */
    font-weight: bold;
    color: var(--black);
}

#footer p .fot-icon {
    margin-right: 5px;
}

#footer ul {
    list-style-type: circle;
    margin: 0;
    padding: 0 0 0 18px;
    letter-spacing: 1px;
}

#footer ul li {
    margin-bottom: 10px;
}

#footer ul li a {
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

#footer ul li a:hover {
    color: var(--main-color);
}

#bottom-footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

/* footer css ends here */

/* contact section starts here */
#contact {
    padding: 60px;
    min-height: 100vh;
    background-color: var(--white);
}

#contact .contact-box {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--white);
    background-clip: border-box;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

#contact .contact-box:hover .icon {
    background-color: var(--title-color);
    color: var(--white);
}

#contact .contact-box .icon {
    color: var(--s-color);
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    transition: 1s;
    margin-bottom: 10px;
}

#contact .contact-box .icon:hover {
    background-color: var(--title-color);
    color: var(--white);
}

#contact .contact-box h4 {
    color: var(--main-color);
    font-size: 18px;
    text-transform: capitalize;
}

#contact .contact-box p {
    font-size: 14px;
}

#contact form .form-control {
    border-radius: 20px;
    padding-left: 20px;
    border: 2px solid var(--title-color);
    color: var(--title-color);
}

#contact form .form-control:focus {
    box-shadow: var(--box-shadow);
    border: 2px solid var(--sec-color);
}

/* contact css ends here */

/* cart css starts here */

#cart {
    padding: 60px;
    background-color: var(--white);
}

#cart .table {
    border-color: var(--main-color);
    text-align: center;
    font-size: 14px;
    justify-content: center;
}

#cart .table tbody td,
#card .table thead th,
#card .table tr {
    vertical-align: center !important;
    border: 1px solid var(--black) !important;
}

.table thead th {
    border: 1px solid var(--black);
}

.table tbody td {
    border: 1px solid var(--black);
}

#cart .table img {
    height: 100px;
}

#cart .table .form-inline .form-control {
    border-radius: 0;
    margin-bottom: 10px;
}

#cart .table .form-inline {
    justify-content: center;
}

#cart .table .form-inline .btn-edit {
    border-radius: 0;
    padding: 1px 10px;
    background-color: var(--success);
    color: var(--white);
    border: 2px solid var(--success);
}

#cart .table .btn-delete {
    border-radius: 0;
    padding: 1px 10px;
    background-color: var(--danger);
    color: var(--white);
    border: 2px solid var(--danger);
}

#cart .btn-normal,
#checkout .btn-normal,
.templateModal .btn-normal {
    border-radius: 0;
    padding: 5px 20px;
    border: 1px solid var(--title-color);
    font-weight: normal;
}

#cart .btn-normal:hover,
#checkout .btn-normal:hover,
.templateModal .btn-normal:hover {
    border: 1px solid var(--main-color);
}

.templateModal .btn-normal {
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

#cart .tallo td {
    border: 1px solid var(--nor-text);
}

#cart .card {
    box-shadow: var(--box-shadow);
    border: none;
    display: flex;
    flex-wrap: wrap;
}

#cart .card-header {
    background-color: transparent;
    text-align: center;
}

#cart .card-header h2 {
    color: var(--title-color);
    font-weight: 400;
    letter-spacing: 1px;
}

#cart .card-body {
    min-height: 200px;
}

#cart .card-body p {
    font-size: 14px;
}

.templateModal .modal-content {
    border: none;
    border-radius: 0;
    background-color: var(--white);
}

.templateModal .modal-header {
    border-bottom: 1px solid var(--black);
}

.templateModal .modal-header .modal-title {
    color: var(--title-color);
    font-weight: 14px;
}

.templateModal .modal-header .close {
    color: var(--title-color);
    opacity: 1;
}

.templateModal .modal-body p {
    line-height: 15px;
    font-size: 14px !important;
}

.templateModal .modal-body .btn-delete {
    border-radius: 0;
    padding: 1px 10px;
    background-color: var(--danger);
    color: var(--white);
    border: 2px solid var(--danger);
}

.templateModal .black-border {
    margin: 10px;
}

.templateModal .top-bottom-border {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

/* cart css ends here */

/* checkout css starts here */

#checkout {
    min-height: 100vh;
    background-color: var(--white);
    padding: 60px;
}

#checkout .card {
    box-shadow: var(--box-shadow);
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#checkout .card-header {
    background-color: transparent;
    /* text-align: center; */
}

#checkout .card-header h2 {
    color: var(--title-color);
    font-weight: bold;
    letter-spacing: 1px;
}

#checkout .card-body {
    min-height: 200px;
}

#checkout .card-body p {
    font-size: 14px;
}

#checkout .card-body label {
    font-size: 14px;
    font-weight: bold;
    color: var(--title-color);
}

#checkout .card-body .form-control {
    /* border-radius: 0; */
    border: 1px solid #ccc;
    color: var(--black) !important;
    font-size: 14px;
}

#checkout .card-body .form-control:focus {
    border: 2px solid var(--title-color);
    outline: none;
}

#checkout .card .card-body p {
    font-size: 12px;
    line-height: 14px;
}

#checkout .card .card-body img {
    height: 60px;
}

#checkout .card .card-body .top-bottom-border {
    font-weight: bold;
}

#checkout .card .card-body .top-bottom-border a {
    color: var(--main-color);
    text-decoration: none;
}

#checkout .card .card-body .top-bottom-border .cost {
    color: var(--title-color);
}

#checkout .card .card-body .form-check img {
    width: 100%;
    height: 50px;
}

/* checkout css endshere */

/* product details css starts here */

#product-detail {
    padding: 60px;
}

#product-detail .book_name {
    color: var(--main-color);
    font-weight: bold;
}

#product-detail h6 {
    font-size: 16px;
    color: var(--title-color);
    font-weight: bold;
}

#product-detail .cost del {
    font-size: 12px;
    padding: 10px;
}

#product-detail .cost span {
    font-size: 24px;
    color: var(--main-color);
}

#product-detail .description p {
    font-size: 14px;
}

#product-detail .category h6 {
    font-size: 16px;
    color: var(--nor-text);
    letter-spacing: 1px;
    word-spacing: 2px;
}

#product-detail .form .form-control {
    border-radius: 0;
    height: 50px;
}

#product-detail .form .btn-cart {
    border-radius: 0;
    padding: 0;
    line-height: 40px;
    font-weight: normal;
    padding: 1px 20px;
    background-color: var(--title-color);
    color: white;
}

#product-detail .form .btn-cart:hover {
    background-color: var(--main-color);
}

#addreviewModal .modal-title {
    color: var(--title-color);
    font-weight: bold;
}
#addreviewModal .modal-title span {
    color: var(--main-color);
    font-weight: bold;
}

#addreviewModal label {
    font-size: 14px;
    font-weight: bold;
    color: var(--title-color);
}

#addreviewModal .form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    color: var(--black) !important;
    font-size: 14px;
    min-height: 40px;
}

#addreviewModal .form-control:focus {
    border: 2px solid var(--title-color);
    outline: none;
}

/* product details css ends here */

/* account css starts here */

#account {
    padding: 60px;
}

#account .card {
    box-shadow: var(--box-shadow);
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#account .card-header {
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid var(--black);
}

#account .card-header h2 {
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 1px;
}

#account .card-body {
    min-height: 200px;
}

#account .card-body p {
    font-size: 14px;
}

#account .card-body label {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
}

#account .card-body .form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    color: var(--black) !important;
    font-size: 14px;
    height: 40px;
}

#account .card-body .form-control:focus {
    border: 2px solid var(--title-color);
    outline: none;
}

#account .btn-normal {
    border-radius: 0;
    padding: 5px 20px;
    border: 1px solid var(--title-color);
    font-weight: normal;
    margin-top: 10px;
}

#account .btn-normal:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* account css starts here */
